.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: #ffffff;
  border-bottom: 3px solid #000000;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -1px;
}

.btn-box{
  display: flex;
  width: 20%;
  justify-content: space-around;

}

.new-task-btn {
  padding: 12px 20px;

  background-color: rgb(248, 71, 71);

  border: 3px solid #000000;
  box-shadow: 5px 5px 0 #000000;

  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.new-task-btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 #000000;
}

.new-task-btn:active {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0 #000000;
}